#root {
    height: 100%;
}

.app-wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 195px; // manually calculated: height of footer + spacing-unit*2
}

.content-wrapper {
    max-width: $content-width;
    padding: 0px $spacing-unit;
    margin: auto;
}


.home .title {
    .highlight {
        color: $accent-color;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }
}

.default-button {
    padding: 7px 15px;
    margin-bottom: 15px;
    border: 0px;
    border-radius: 3px;
    border: 1px solid #BBBBBB;
    color: #909090;
    background-color: transparent;
    font-size: 1.1em;
    cursor: pointer;

    &.selected {
        border: 1px solid $accent-color;
        background-color: lighten($accent-color, 30%);
        color: $accent-color;
        @include box-shadow(1);
    }

    &:not(:last-child) {
        margin-right: $spacing-unit/2;
    }
}

table.default-table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    width: 100%;

    th, td {
        border: 0;
        padding: 10px;
    }

    th {
        color: #666666;
        font-weight: 600;
        border-bottom: 2px solid #D5D5D5;
    }

    td {
        border-bottom: 1px solid #D5D5D5;
    }
}
