@charset "utf-8";

$text-color: #333333;
$base-font-family: 'Helvetica', 'sans-serif';

$accent-color: #F15E2B;

$body-bg-color: #F4F4F4;
$body-font-size: 16px;

$line-height-ratio: 1.4;

$content-width: 800px;
$spacing-unit: 30px;

$breakpoint-small: 600px;
$breakpoint-medium: 768px;
